.catList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
  width: 355px;
  height: 90%;
}

.catsContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 600px;
}

.catCard {
  display: flex;
  justify-content: space-around;
  min-width: 350px;
  height: 100%;
  margin-right: 20px;
  list-style: none;
  min-height: 400px;
}

.catCard:first-child {
  height: 100%;
}

.catList::-webkit-scrollbar {
  display: none;
}

.catImage {
  height: auto;
  width: 100%;
}

.cardContent {
  display: flex;
  flex-flow: column wrap;
}

fieldset li {
  font-size: 1.25em;
}
