.addToy {
  background-color: #87d68d;
  color: #f7fff6;
  font-weight: 800;
  padding: 0 10px 5px 10px;
  border-radius: 3px;
  border: 1px solid #8491a3;
  font-size: 2em;
}

.profileBtns {
  display: flex;
  justify-content: space-around;
}
