.dropdownContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dropdown__menu {
  position: fixed;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  font-size: 1.3em;
  margin-top: 32px;
  z-index: 2;
  color: #738290;
  width: 200px;
  list-style: none;
  background-color: #e4f0d0;
}

.dropdown__menu li {
  display: flex;
  justify-content: space-evenly;
  width: auto;
  border-bottom: 1px solid #a1b5d8;
  padding: 5px 0 5px 0;
}

.dropdown__menu li:hover {
  cursor: pointer;
  background-color: #bcebcb;
  transition: 0.2s;
}

.burger:hover {
  cursor: pointer;
}

.close:hover {
  cursor: pointer;
}
